
@import url('https://fonts.googleapis.com/css2? family= Krona+One & display=swap');
*{
    margin: 20;
    padding: 0;
}

body {
    height: 10vh;
    box-sizing: border-box ;
    background-color:rgb(32, 32, 32);
    background-image: url(fundo.jpg) ;
    color: aliceblue;
    
}


.cs {
    color: rgb(10, 169, 231);
    border-radius: 50%;
}

.valo {
    color: rgb(10,169, 231);
}

.apre {
    margin:10% 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction:row ;
    gap: 40px;
    
}

.apre_cont {
  width: 615px;
}

.apre__cont__tit {
    font-size: 46px; 
    font-family:'Krona One', sans-serif; 
}

.apre__cont__text {
    font-size: 30px;
}

.link {
  display: flex; 
  justify-content: space-between;
 
} 

.links {
   width: 200px;
   border-radius: 50px;

} 


.csva {
    height: 500px;
    display: flex;
    justify-content: space-around;
    border-radius: 50px;
    
}

